<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Imakes</title>

  <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0">
  <meta name="apple-mobile-web-app-capable" content="yes">

  <link href="/atom.xml" type="application/atom+xml" rel="alternate" title="Imakes ATOM Feed">

  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="//releases.flowplayer.org/5.4.6/skin/minimalist.css">
  <link rel="stylesheet" href="/static/main.css">
  {% block head %}{% endblock %}
</head>
<body>
  {% include 'navbar.html' %}
  <div class="container">
    {% block content %}{% endblock %}
  </div>
  <footer class="footer">
    <div class="container">
      Site &copy; 2013 Juho Vähä-Herttua<br/>
      Hosted by Feriko
    </div>
  </footer>
  <script src="//code.jquery.com/jquery-1.10.1.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js"></script>
  <script src="//releases.flowplayer.org/5.4.6/flowplayer.min.js"></script>
  <script src="/static/main.js"></script>
</body>
</html>
