{% extends 'layout.html' %}

{% block content %}
<div id="map"></div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">

var map = L.map('map').setView([60.1708, 24.9375], 13);
var MapQuestOpen_OSM = L.tileLayer('http://otile{s}.mqcdn.com/tiles/1.0.0/map/{z}/{x}/{y}.jpeg', {
	attribution: 'Tiles Courtesy of <a href="http://www.mapquest.com/">MapQuest</a> &mdash; Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>',
	subdomains: '1234'
});
MapQuestOpen_OSM.addTo(map);

</script>
{% endblock %}
