{% extends 'layout.html' %}

{% block content %}
<div id="map"></div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">

var map = L.map('map').setView([60.1708, 24.9375], 13);

var MapQuestOpen_OSM = L.tileLayer('http://otile{s}.mqcdn.com/tiles/1.0.0/map/{z}/{x}/{y}.jpeg', {
	attribution: 'Tiles Courtesy of <a href="http://www.mapquest.com/">MapQuest</a> &mdash; Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>',
	subdomains: '1234'
});
map.addLayer(MapQuestOpen_OSM);

var markers = new L.MarkerClusterGroup({
  maxClusterRadius: 50,
  disableClusteringAtZoom: 15
});
map.addLayer(markers);

var markerColors = ['red', 'darkred', 'orange', 'green', 'darkgreen', 'blue', 'purple', 'darkpuple', 'cadetblue'];

$.getJSON('/api/search/images?metadata_contains=GPSPosition', function(data) {
  var authors = [];
  data.messages.forEach(function(msg) {
    msg.images.forEach(function(img) {
      if (!img.metadata || !img.metadata.GPSPosition) return;
      if (authors.indexOf(msg.author) < 0) {
        authors.push(msg.author);
      }

      var regexp = new RegExp("^(\\d{1,2}) deg (\\d{1,2})' (\\d{1,2}(.\\d+)?)\" (N|S), (\\d{1,3}) deg (\\d{1,2})' (\\d{1,2}(.\\d+)?)\" (E|W)$");
      var match = img.metadata.GPSPosition.match(regexp);
      if (!match) return;

      var lat = parseInt(match[1]) + (1/60*parseInt(match[2])) + (1/3600*parseFloat(match[3]))
      var lon = parseInt(match[6]) + (1/60*parseInt(match[7])) + (1/3600*parseFloat(match[8]))
      if (match[5] === 'S') lat = -lat;
      if (match[10] === 'W') lon = -lon;

      var icon = L.AwesomeMarkers.icon({
        icon: 'camera',
        markerColor: markerColors[authors.indexOf(msg.author)%markerColors.length]
      });
      var marker = L.marker([lat, lon], {icon: icon});
      marker.bindPopup('<a href="/message/'+msg.id+'"><b>'+msg.title+'</b><br><img width="160" height="160" src="/attachment/'+img.id+'/square"></a>');
      markers.addLayer(marker);
    });
  });
});

</script>
{% endblock %}
