{% extends 'layout.html' %}

{% block content %}
<div id="map"></div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">

var map = L.map('map').setView([60.1708, 24.9375], 13);
var MapQuestOpen_OSM = L.tileLayer('http://otile{s}.mqcdn.com/tiles/1.0.0/map/{z}/{x}/{y}.jpeg', {
	attribution: 'Tiles Courtesy of <a href="http://www.mapquest.com/">MapQuest</a> &mdash; Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>',
	subdomains: '1234'
});
MapQuestOpen_OSM.addTo(map);

$.getJSON('/api/search/images?key=2013', function(data) {
  data.messages.forEach(function(msg) {
    msg.images.forEach(function(img) {
      if (!img.exif || !img.exif.GPSPosition) return;

      var regexp = new RegExp("^(\\d{1,2}) deg (\\d{1,2})' (\\d{1,2}(.\\d+)?)\" (N|S), (\\d{1,3}) deg (\\d{1,2})' (\\d{1,2}(.\\d+)?)\" (E|W)$");
      var match = img.exif.GPSPosition.match(regexp);
      if (!match) return;

      var lat = parseInt(match[1]) + (1/60*parseInt(match[2])) + (1/3600*parseFloat(match[3]))
      var lon = parseInt(match[6]) + (1/60*parseInt(match[7])) + (1/3600*parseFloat(match[8]))
      if (match[5] === 'S') lat = -lat;
      if (match[9] === 'W') lon = -lon;

      var marker = L.marker([lat, lon]);
      var content = $('<div>').html('<a href="/message/'+msg.id+'"><b>'+msg.title+'</b><br><img src="/attachment/'+img.id+'/square"></a>');
      marker.bindPopup(content[0]);
      marker.addTo(map);
    });
  });
});

</script>
{% endblock %}
