{% extends 'layout.html' %}

{% block content %}

{# {% include 'subnavbar.html' %} #}
{% include 'pagination.html' %}
{% for message in messages %}
  <div class="message">
    <h3><a href="/message/{{ message.id }}">{{ message.title }}</a></h3>
    <h5>{{ message.date }} at {{ message.time }} by {{ message.author }}</h5>
    <h6>
      Liked by {{ message.favorited.length }} people
      <button type="button" class="btn btn-primary btn-sm btn-favorite{% if message.favorite %} active{% endif %}" data-url="/api/user/{{ user.id }}/favorite/{{ message.id }}">{% if message.favorite %}Unlike{% else %}Like{% endif %}</button>
      {% if message.maplink %}<a href="/map/{{ message.id }}">Show location on map</a>{% endif %}
    </h6>
    {% for image in message.images %}
    <div class="image">
      <a href="/attachment/{{ image.id }}/large"><img class="img-responsive" src="/attachment/{{ image.id }}/medium"></a>
    </div>
    {% endfor %}
    {% for video in message.videos %}
    <div class="video">
      <div class="flowplayer" data-swf="/static/flowplayer-5.4.6/flowplayer.swf">
        <video preload="none" poster="/attachment/{{ video.id }}/screenshot">
          <source type="video/mp4" src="/attachment/{{ video.id }}/mp4">
        </video>
      </div>
    </div>
    {% endfor %}
  </div>
  {% if not loop.last %}<hr>{% endif %}
{% endfor %}
{% include 'pagination.html' %}

{% endblock %}
