<div class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      {% if user %}
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {% endif %}
      <a href="/"><span class="navbar-brand">Imakes 3.0</span></a>
    </div>
    {% if user %}
    <div class="collapse navbar-collapse" id="main-navbar-collapse">
      <ul class="nav navbar-nav">
        <li{% if url == '/images' %} class="active"{% endif %}><a href="/images">Images</a></li>
        <li{% if url == '/videos' %} class="active"{% endif %}><a href="/videos">Videos</a></li>
        <li{% if url == '/favorites' %} class="active"{% endif %}><a href="/favorites">My Favorites</a></li>
        <li{% if url == '/popular' %} class="active"{% endif %}><a href="/popular">Popular</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ username }} <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/logout">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
    {% endif %}
  </div>
</div>
