<ul class="pagination">
  {% if page <= 1 %}
    <li class="disabled"><a><span class="glyphicon glyphicon-fast-backward"></span></a></li>
    <li class="disabled"><a><span class="glyphicon glyphicon-step-backward"></a></li>
  {% else %}
    <li><a href="{{ url }}?page=1"><span class="glyphicon glyphicon-fast-backward"></span></a></li>
    <li><a href="{{ url }}?page={{ page-1 }}"><span class="glyphicon glyphicon-step-backward"></a></li>
  {% endif %}

  {# Lastpages that are always hidden on mobile #}
  {% if lastpage > 2 && page-4 > 0 && page >= lastpage-2 %}<li class="hidden-xs"><a href="{{ url }}?page={{ page-4 }}">{{ page-4 }}</a></li>{% endif %}
  {% if lastpage > 1 && page-3 > 0 && page >= lastpage-1 %}<li class="hidden-xs"><a href="{{ url }}?page={{ page-3 }}">{{ page-3 }}</a></li>{% endif %}
  {% if page >= 3 %}<li class="hidden-xs"><a href="{{ url }}?page={{ page-2 }}">{{ page-2 }}</a></li>{% endif %}

  {# Lastpages that are always visible on mobile #}
  {% if lastpage > 1 && page-2 > 0 && page >= lastpage-1 %}<li class="visible-xs"><a href="{{ url }}?page={{ page-2 }}">{{ page-2 }}</a></li>{% endif %}
  
  {% if page >= 2 %}<li><a href="{{ url }}?page={{ page-1 }}">{{ page-1 }}</a></li>{% endif %}
  <li class="active"><a>{{ page }}</a></li>
  {% if page <= lastpage-1 %}<li><a href="{{ url }}?page={{ page+1 }}">{{ page+1 }}</a></li>{% endif %}

  {# Nextpages that are always hidden on mobile #}
  {% if page < 2 && page+2 <= lastpage %}<li class="visible-xs"><a href="{{ url }}?page={{ page+2 }}">{{ page+2 }}</a></li>{% endif %}

  {# Nextpages that are always hidden on mobile #}
  {% if page <= lastpage-2 %}<li class="hidden-xs"><a href="{{ url }}?page={{ page+2 }}">{{ page+2 }}</a></li>{% endif %}
  {% if page < 3 && page+3 <= lastpage %}<li class="hidden-xs"><a href="{{ url }}?page={{ page+3 }}">{{ page+3 }}</a></li>{% endif %}
  {% if page < 2 && page+4 <= lastpage %}<li class="hidden-xs"><a href="{{ url }}?page={{ page+4 }}">{{ page+4 }}</a></li>{% endif %}

  {% if page >= lastpage %}
    <li class="disabled"><a><span class="glyphicon glyphicon-step-forward"></a></li>
    <li class="disabled"><a><span class="glyphicon glyphicon-fast-forward"></a></li>
  {% else %}
    <li><a href="{{ url }}?page={{ page+1 }}"><span class="glyphicon glyphicon-step-forward"></a></li>
    <li><a href="{{ url }}?page={{ lastpage }}"><span class="glyphicon glyphicon-fast-forward"></a></li>
  {% endif %}
</ul>
