{% extends 'layout.html' %}

{% block content %}
<canvas id="stats" width="800" height="400"></canvas>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
var ctx = document.getElementById("stats").getContext("2d");
$.getJSON('/api/stats', function(data) {
  var labels = [];
  var datapoints = [];
  var years = _.keys(data.total).sort();
  _.each(years, function(year) {
    var yeardata = data.total[year];
    var months = _.map(_.range(1, 13), function(month) {
      if (month < 10) return '0'+month;
      else return ''+month;
    });
    var values = _.reduce(months, function(memo, month) {
      var num = yeardata[month] || 0;
      memo[Math.floor((month-1)/3)] += num;
      return memo;
    }, [0,0,0,0]);
    labels = labels.concat(['Q1 '+year,'Q2 '+year,'Q3 '+year,'Q4 '+year]);
    datapoints = datapoints.concat(values);
  });
  var chartdata = {
    labels: labels,
    datasets: [{
      fillColor: "rgba(220,220,220,0.5)",
      strokeColor: "rgba(220,220,220,1)",
      pointColor: "rgba(220,220,220,1)",
      pointStrokeColor: "#fff",
      data: datapoints
    }]
  };
  console.log(JSON.stringify(chartdata));
  var chartoptions = {
    scaleOverride: true,
    scaleSteps: 15,
    scaleStepWidth: 10,
    scaleStartValue: 0,
    scaleShowGridLines: false
  };
  var chart = new Chart(ctx).Line(chartdata, chartoptions);
});

</script>
{% endblock %}
