<div class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#secondary-navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <span class="navbar-brand">Filter by</span>
  </div>
  <div class="collapse navbar-collapse" id="secondary-navbar-collapse">
    <ul class="nav navbar-nav">
      <li><a class="navbar-link" href="#">2010</a></li>
      <li><a class="navbar-link" href="#">2011</a></li>
      <li><a class="navbar-link" href="#">2012</a></li>
      <li><a class="navbar-link" href="#">2013</a></li>
    </ul>
  </div>
</div>
