a {
  cursor: pointer;
}

footer {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #eee;
}

.message img {
  border: 1px solid #444;
  display: inline-block;
}

.message {
  padding-bottom: 10px;
  width: 100%;
  word-wrap: break-word;
}

.message .video {
  background-color: black;
}

.pagination .glyphicon {
  margin: 0 -2px;
}

/* Hack around bootstrap for pagination */
ul.pagination li.visible-xs {display:none !important;}
@media (max-width: 768px) { 
    ul.pagination li.visible-xs {display:inline !important;}
}
ul.pagination li.hidden-xs {display:inline !important;}
@media (max-width: 768px) { 
    ul.pagination li.hidden-xs {display:none !important;}
}

#map {
  height: 500px;
  margin-bottom: 30px;
}

#stats {
  max-width: 100%;
}
