html {
  height: 100%;
}

body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  
  -ms-flex-direction: column;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
}

body > .container {
  -ms-flex: 1 0 auto;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
  flex: 1;
}

a {
  cursor: pointer;
}

footer {
  margin-top: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #eee;
}

.message img {
  border: 1px solid #444;
  display: inline-block;
}

.message h3 {
  margin-top: 0;
}

.message {
  padding-bottom: 10px;
  width: 100%;
  word-wrap: break-word;
}

.message .video {
  background-color: black;
}

.pagination .glyphicon {
  margin: 0 -2px;
}

/* Hack around bootstrap for pagination */
ul.pagination li.visible-xs {display:none !important;}
@media (max-width: 768px) { 
    ul.pagination li.visible-xs {display:inline !important;}
}
ul.pagination li.hidden-xs {display:inline !important;}
@media (max-width: 768px) { 
    ul.pagination li.hidden-xs {display:none !important;}
}

#map {
  height: 500px;
  margin-bottom: 30px;
}

#stats {
  max-width: 100%;
}
